<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Addition Successful</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<h1>Plant Data Successfully Added</h1>
<p>Your plant data has been successfully stored. You will be redirected in <span id="countdown">10</span> seconds.</p>
<a href="http://localhost:3000/overview">Return to Overview</a>

<script>
    let countdownElement = document.getElementById('countdown');
    let countdown = 10;  // seconds

    const interval = setInterval(() => {
        countdown--;
        countdownElement.textContent = countdown;
        if (countdown === 0) {
            clearInterval(interval);
            window.location.href = 'http://localhost:3000/overview';
        }
    }, 1000);
</script>
</body>
</html>