<!DOCTYPE html>
<html lang="en">

<head>
    <base href="http://localhost:3000/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Edit</title>
    <script type="text/javascript" src="/javascripts/offline_editPlant.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="stylesheets/singlePlant.css">
</head>

<body>
<div class="container">
    <!-- Header -->
    <div class="header">
        <h1 class="header-title">Plant Sightings</h1>
        <div>
            <button class="header-button">Overview</button>
            <button class="header-button">Add</button>
            <button class="header-button">Github</button>
        </div>
    </div>
    <form id="plantForm">
<!--        <input type="hidden" id="_id" name="_id" value="">-->
        <input type="hidden" id="plantId" name="plantId" value="">
        <!-- Title and Description -->
        <div class="title-section">
            <h2 class="title">Edit</h2>
            <p class="description" id="plantDescription"></p>
        </div>

        <!-- Details Section -->
        <div class="details">
            <div class="detail-half">
                <div class="detail-label">Name</div>
                <div class="detail-value">
                    <input type="text" name="name" id="name" value="">
                </div>

                <div class="detail-label">Description</div>
                <div class="detail-value" id="description"></div>
                <div class="detail-label">DBpedia Description</div>
                <div class="detail-value" id="dbpedia_description"></div>

                <div class="detail-label">Photo</div>
                <label  class="detail-photo">
                    <!-- Assuming you have a URL for the photo -->
                    <img class="photoView" id="plantPhoto" src="" alt="" >
                </label>
                <button class="button-class" type="submit">submit</button>
            </div>
            <div class="detail-half">
                <div class="attribute-grid">
                    <!-- Attributes -->
                    <div class="attribute-item">
                        <span class="detail-value-question">Has Flower?</span>
                        <span class="detail-value-question">Has Leaf?</span>
                        <span class="detail-value-question">Has Gain?</span>
                        <span class="detail-value-question">Sun?</span>
                        <span class="detail-value-question">Color</span>
                        <span class="detail-value-question">Plant Size</span>
                        <span class="detail-value-question">Status</span>
<!--                        <span class="detail-value-question">DBPedia</span>-->
                        <span class="detail-value-question">Your Nick Name</span>
                        <span class="detail-value-question">Position</span>
                    </div>
                    <div class="attribute-item">
                        <div class="detail-value-attribute" id="flower"></div>
                        <div class="detail-value-attribute" id="leaves"></div>
                        <div class="detail-value-attribute" id="seeds"></div>
                        <div class="detail-value-attribute" id="sun"></div>
                        <div class="detail-value-attribute" id="color"></div>
                        <div class="detail-value-attribute" id="size"></div>
                        <label>
                            <select name="status" id="status" class="detail-value-attribute-edit">
                                <option value="In-progress">In-progress</option>
                                <option value="Complete">Complete</option>
                            </select>
                        </label>
<!--                        <label>-->
<!--                            <button class="detail-value-attribute" id="urlButton">URL</button>-->
<!--                        </label>-->
                        <label>
                            <input class="detail-value-attribute" type="text" name="userNickname" id="userNickname">
                        </label>
                        <label class = detail-value-attribute-edit-pos>
                            <label>latitude</label>
                            <label>
                                <input class="detail-value-attribute-pos-input" type="text" name="latitude" id="latitude" disabled>
                            </label>
                            <label>longitude</label>
                            <label>
                                <input class="detail-value-attribute-pos-input" type="text" name="longitude" id="longitude" disabled>
                            </label>
                        </label>
                    </div>
                    <!-- Repeat for each attribute -->
                </div>
                <div class="map" id="map" style="width: 600px; height: 400px;"></div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
