<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <script type="text/javascript" src="/javascripts/home.js"></script>
    <title>Home</title>
</head>
<body>

<div class="header">
    <!-- Navigation Bar -->
    <div class="navbar">
        <div class="logo">Plant Sightings</div>
      <ul>
        <li><a href="/home" class="nav-button">Home</a></li>
        <li><a href="/overview?sort=date" class="nav-button">Overview</a></li>
        <li><a href="/modify/addPlant" class="nav-button">Add</a></li>
        <li><a href="https://github.com/captainLegoo/TeamMSc09" class="nav-button"><img style="width: 20px; height: 20px;" src="/images/github_logo.png" alt="GitHub"></a></li>
      </ul>
    </div>

    <!-- Title Section with Customizable Image and Text -->
    <div class="title-section">
        <img src="/images/plant_logo.png" alt="Customizable Image">
        <h1>Home</h1>
        <p>Welcome to the home page</p>
    </div>
</div>

<!-- Content Section -->
<div class="content">
    <% if (!plants || plants.length === 0) { %>
        <h1>Plant list is empty</h1>
    <% } else { %>
        <% plants.forEach(plant => { %>
            <div class="card">
                <img src="data:image/png;base64,<%= plant.photo %>" alt="Placeholder image for plant sighting">
                <p><%= plant.description %></p>
                <p><%= plant.identification.name %></p>
            </div>
        <% }) %>
    <% } %>
</div>


</body>
</html>
