<!DOCTYPE html>
<html lang="en">
<head>
    <title>Plant Sightings</title>
    <meta charset="UTF-8">
    <link rel="manifest" href="/manifest.json">
    <link type="text/css" rel="stylesheet" href="/stylesheets/overview.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascripts/IdGenerate.js"></script>
    <script src="/javascripts/overview.js"></script>
    <script src="/javascripts/idb-utility.js"></script>
</head>
<body>

<div class="header">
    <!-- Navigation Bar -->
    <div class="navbar">
        <div class="logo"><a href="/">Plant Sightings</a></div>
        <ul>
            <li><a href="/overview" class="nav-button">Overview</a></li>
            <li><a href="/modify/addPlant" class="nav-button">Add</a></li>
            <li><a href="https://github.com/captainLegoo/TeamMSc09" class="nav-button"><img
                            style="width: 20px; height: 20px;" src="/images/github_logo.png" alt="GitHub"></a></li>
        </ul>
    </div>

    <!-- Title Section with Customizable Image and Text -->
    <div class="title-section">
        <img src="/images/plant_logo.png" alt="Customizable Image">
        <h1>OverView</h1>
        <p id="monogo_Status"></p>
    </div>
</div>

<!-- Filter Section -->
<div class="filter-bar">
    <select class="sort-dropdown" id="sortDropdown">
        <option value="date">Sort by Date</option>
        <option value="name">Sort by Name</option>
        <option value="distance">Sort by Distance</option>
        <option value="withFlowers">Plant with flowers</option>
        <option value="withoutFlowers">Plant without flowers</option>
        <option value="only">Only My Plants</option>
    </select>
</div>

<h2 id="plant_count" style="text-align: center"></h2>

<div id="plant_container">

</div>

</body>
<!--<script src="/javascripts/overview.js"></script>-->
<!--&lt;!&ndash;<script src="/javascripts/overviewOffline.js.js"></script>&ndash;&gt;-->
<!--<script src="/javascripts/idb-utility.js"></script>-->
</html>