/* General Styles */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
.header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    color: white; /* 改为白色 */
    text-decoration: none; /* 取消下划线 */
}

.header-title:hover, .header-title:visited, .header-title:active {
    color: white;
    text-decoration: none; /* 取消下划线 */
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-button {
    background-color: #4CAF50; /* 绿色背景 */
    color: #ffffff; /* 白色文字 */
    border-radius: 5px;
    border: none; /* 取消边框 */
    padding: 8px 16px;
    margin: 0 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.header-button:hover {
    background-color: #45a049; /* 鼠标悬停时变淡 */
    color: #ffffff; /* 确保文字颜色保持白色 */
}

.header-button:visited, .header-button:active {
    background-color: #4CAF50; /* 访问过后仍保持绿色 */
    color: #ffffff; /* 确保文字颜色保持白色 */
    text-decoration: none; /* 取消下划线 */
}

/* Title and Description Styles */
.title-section {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50; /* 与导航栏背景颜色一致 */
    color: #ffffff; /* 白色文本 */
    border-bottom: 2px solid #ffffff;
    width: 100%;
    box-sizing: border-box;
}

.title-section h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.title-section p {
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
}

/* Form Styles */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.form-group label {
    width: 150px;
    margin-right: 10px;
    text-align: right;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group select,
.form-group input[type="datetime-local"],
.form-group input[type="radio"] {
    flex-grow: 1;
}

.form-group .radio-group {
    display: flex;
    gap: 10px;
}

/* Detail Styles */
.details {
    display: flex;
    margin: 16px 0;
    justify-content: space-between;
}

.detail-half {
    flex-basis: 50%;
    padding: 8px;
}

.detail-label {
    color: #000000;
    margin-bottom: 5px;
}

.detail-value {
    background-color: #ffffff;
    padding: 8px;
    margin-bottom: 16px;
    white-space: nowrap;
}

.detail-value input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

.detail-value-attribute {
    text-align: center;
    border-radius: 10px;
    width: 100px;
    background-color: #ffffff;
    padding: 4px;
    white-space: nowrap;
    height: 18px;
    display: flex;
    justify-content: center;
}

.detail-value-attribute-time {
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    width: 300px; /* Increased width to accommodate longer text */
    padding: 4px;
    height: 18px;
    white-space: nowrap;
    display: inline-block; /* Changed to inline-block for better control */
}

.detail-value-attribute-time-choose {
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    height: 18px;
    padding: 4px;
    white-space: nowrap;
    width: 200px;
    display: flex;
    justify-content: center;
}

.detail-value-attribute-edit {
    text-align: center;
    border-radius: 10px;
    width: 115px;
    background-color: #ffffff;
    padding: 4px;
    height: 18px;
}

.detail-value-attribute-edit-boolean {
    text-align: center;
    border-radius: 10px;
    width: 130px;
    background-color: #ffffff;
    padding: 4px;
    height: 18px;
}

.detail-value-attribute-edit-pos {
    text-align: center;
    border-radius: 10px;
    width: 312px;
    padding: 4px;
    height: 18px;
}

.detail-value-attribute-pos-input {
    text-align: center;
    border-radius: 10px;
    width: 58px;
    background-color: #ffffff;
    padding: 4px;
    height: 10px;
}

.detail-value-question {
    text-align: center;
    border-radius: 10px;
    width: 140px;
    height: 18px;
    padding: 4px;
}

.detail-photo {
    max-width: 100%; /* Ensures the image will not be larger than the container */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Ensures the image is displayed as a block element */
}

/* Attributes Styles */
.attribute-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.attribute-item {
    display: grid;
    row-gap: 30px;
    align-items: center;
}

/* Discussion Section Styles */
.discussion {
    border: 2px solid #000000;
    border-radius: 10px;
    color: #000000;
    padding: 20px;
    margin-top: 16px;
}

.discussion-title {
    font-size: 24px;
    margin-bottom: 16px;
}

.comment {
    background-color: #ffffff;
    color: #000000;
    padding: 8px;
    margin-bottom: 8px;
}

/* Comment Form Styles */
.comment-form {
    margin-top: 16px;
    width: 500px;
}

.comment-history-form {
    margin-top: 16px;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

.comment-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
}

.comment-form button {
    background-color: #008000; /* This is a placeholder color for the green button */
    color: #ffffff;
    padding: 8px 16px;
    border: none;
}

.photoView {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.button-class {
    margin-top: 30px;
}

.map {
    transform: translateX(50px); /* 向右移动50像素 */
}
