/* General Styles */
body {
    background-color: #e0f7e0; /* 修改为淡绿色背景色 */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0; /* Reduced padding at the top and bottom */
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s; /* Transition effect */
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Hover background color */
    color: white; /* Hover text color */
    border-radius: 5px; /* Border radius same as the homepage buttons */
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

/* Title and Description Styles */
.title-section {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50; /* 与导航栏背景颜色一致 */
    color: #ffffff; /* 白色文本 */
    border-bottom: 2px solid #ffffff;
    width: 100%;
    box-sizing: border-box;
}

.title-section h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.title-section p {
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
}

/* Form Styles */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.form-group label {
    width: 150px;
    margin-right: 10px;
    text-align: right;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group select,
.form-group input[type="datetime-local"],
.form-group input[type="radio"] {
    flex-grow: 1;
}

.form-group .radio-group {
    display: flex;
    gap: 10px;
}

/* Detail Styles */
.details {
    display: flex;
    margin: 16px 0;
    justify-content: space-between;
}

.detail-half {
    flex-basis: 50%;
    padding: 8px;
}

.detail-label {
    color: #000000;
    margin-bottom: 5px;
}

.detail-value {
    background-color: #ffffff;
    padding: 8px;
    margin-bottom: 16px;
    white-space: normal; /* 修改为正常换行 */
    overflow-wrap: break-word; /* 允许长单词换行 */
    word-wrap: break-word; /* 兼容旧版浏览器 */
}

.detail-value input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

.detail-value-attribute {
    text-align: center;
    border-radius: 10px;
    width: 100px;
    background-color: #ffffff;
    padding: 4px;
    white-space: nowrap;
    height: 18px;
    display: flex;
    justify-content: center;
}

.detail-value-attribute-time {
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    width: 300px; /* Increased width to accommodate longer text */
    padding: 4px;
    height: 18px;
    white-space: nowrap;
    display: inline-block; /* Changed to inline-block for better control */
}

.detail-value-attribute-time-choose {
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    height: 18px;
    padding: 4px;
    white-space: nowrap;
    width: 200px;
    display: flex;
    justify-content: center;
}

.detail-value-attribute-edit {
    text-align: center;
    border-radius: 10px;
    width: 115px;
    background-color: #ffffff;
    padding: 4px;
    height: 18px;
}

.detail-value-attribute-edit-boolean {
    text-align: center;
    border-radius: 10px;
    width: 130px;
    background-color: #ffffff;
    padding: 4px;
    height: 18px;
}

.detail-value-attribute-edit-pos {
    text-align: center;
    border-radius: 10px;
    width: 312px;
    padding: 4px;
    height: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Equal width columns */
    grid-row-gap: 10px; /* Space between rows */
    grid-column-gap: 10px; /* Space between columns */
}

.detail-value-attribute-pos-input {
    text-align: center;
    border-radius: 10px;
    width: 58px;
    background-color: #ffffff;
    padding: 4px;
    height: 10px;
}

.detail-value-question {
    text-align: center;
    border-radius: 10px;
    width: 140px;
    height: 18px;
    padding: 4px;
}

.detail-photo {
    max-width: 100%; /* Ensures the image will not be larger than the container */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Ensures the image is displayed as a block element */
}

/* Attributes Styles */
.attribute-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.attribute-item {
    display: grid;
    row-gap: 30px;
    align-items: center;
}

/* Discussion Section Styles */
.discussion {
    border: 2px solid #000000;
    border-radius: 10px;
    color: #000000;
    padding: 20px;
    margin-top: 16px;
}

.discussion-title {
    font-size: 24px;
    margin-bottom: 16px;
}

.comment {
    background-color: #ffffff;
    color: #000000;
    padding: 8px;
    margin-bottom: 8px;
}

/* Comment Form Styles */
.comment-form {
    margin-top: 16px;
    width: 500px;
}

.comment-history-form {
    margin-top: 16px;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

.comment-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
}

.comment-form button {
    background-color: #008000; /* This is a placeholder color for the green button */
    color: #ffffff;
    padding: 8px 16px;
    border: none;
}

.photoView {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.button-class {
    margin-top: 30px;
}

.map {
    transform: translateX(50px); /* 向右移动50像素 */
}
