/* General Styles */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

/* Header Styles */
.header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-button {
    background-color: #ffffff;
    color: #4CAF50;
    border-radius: 5px;
    border: 2px solid #ffffff;
    padding: 8px 16px;
    margin: 0 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.header-button:hover {
    background-color: #4CAF50;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

/* Title and Description Styles */
.title-section {
    text-align: center;
    padding: 32px 0;
    background-color: #4CAF50; /* Matching background color */
    border-radius: 10px;
    color: white; /* White text for contrast */
    margin-bottom: 20px;
}

.title-section h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.title-section p {
    margin: 0;
    font-size: 18px;
}

/* Detail Styles */
.details {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0;
    justify-content: space-between;
}

.detail-half {
    flex-basis: 45%;
    padding: 8px;
}

.detail-label {
    color: #004d00;
    font-weight: bold;
    margin-bottom: 5px;
}

.detail-value {
    background-color: #ffffff;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.detail-value input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.detail-value-attribute,
.detail-value-attribute-time,
.detail-value-attribute-time-choose,
.detail-value-attribute-edit,
.detail-value-attribute-edit-boolean,
.detail-value-attribute-edit-pos,
.detail-value-question {
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Attributes Styles */
.attribute-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.attribute-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Discussion Section Styles */
.discussion {
    background-color: #f9f9f9;
    border: 2px solid #004d00;
    border-radius: 10px;
    color: #333333;
    padding: 20px;
    margin-top: 16px;
}

.discussion-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.comment {
    background-color: #ffffff;
    color: #333333;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Comment Form Styles */
.comment-form {
    margin-top: 16px;
    width: 100%;
}

.comment-history-form {
    margin-top: 16px;
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.comment-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.comment-form button {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.comment-form button:hover {
    background-color: #45a049;
}

/* Photo Styles */
.photoView {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

/* Button Styles */
.button-class {
    margin-top: 30px;
}

/* Map Styles */
.map {
    transform: translateX(50px); /* Move to the right by 50px */
}
